
h1{
  padding-top: 10px;
  padding-left: 30px;
  font-style: normal;
  font-family: sans-serif;
  color: white;

}
.maindiv{
  background-color: rgb(157, 2, 240);
  height: 100%;

  top:0px;
  right: 0px;
  bottom: 0px;
  left:0px;
  position: absolute;
  padding-bottom: 100%;
}
